<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoginView</key>
	<dict>
		<key>background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>list_background_pattern</string>
		</dict>
		<key>placeholder_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>343841</string>
		</dict>
		<key>textfields_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>26282D</string>
		</dict>
		<key>textfields_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>E5E9EB</string>
		</dict>
		<key>login_button_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>808080</string>
		</dict>
		<key>login_button_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>trydemo_button_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>428EC0</string>
		</dict>
		<key>trydemo_button_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
	</dict>
	<key>MenuView</key>
	<dict>
		<key>background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>23252C</string>
		</dict>
		<key>user_name_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>additional_info_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>8F8F8F</string>
		</dict>
		<key>text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>8F8F8F</string>
		</dict>
		<key>selected_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>separator_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>111111</string>
		</dict>
	</dict>
	<key>ServerProfiles</key>
	<dict>
		<key>background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>list_background_pattern</string>
		</dict>
		<key>profile_preview_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>484F59</string>
		</dict>
		<key>profile_title_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>5D5D5D</string>
		</dict>
		<key>profile_details_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>5D5D5D</string>
		</dict>
		<key>save_button_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>428EC0</string>
		</dict>
		<key>save_button_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
	</dict>
	<key>ResourceView</key>
	<dict>
		<key>background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>list_background_pattern</string>
		</dict>
		<key>loading_cell_title_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>5D5D5D</string>
		</dict>
		<key>loading_cell_activity_indicator_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>5D5D5D</string>
		</dict>
		<key>resource_cell_title_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>5D5D5D</string>
		</dict>
		<key>resource_cell_details_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>B0B0B0</string>
		</dict>
		<key>resource_cell_preview_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>428EC0</string>
		</dict>
		<key>noresult_label_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>999999</string>
		</dict>
		<key>activity_label_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>999999</string>
		</dict>
		<key>activity_activity_indicator_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>878787</string>
		</dict>
		<key>refresh_control_tint_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>resource_info_button_tint_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>909090</string>
		</dict>
		<key>resource_favorite_button_tint_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FEFE00</string>
		</dict>
	</dict>
	<key>ReportOptions</key>
	<dict>
		<key>runreport_button_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>428EC0</string>
		</dict>
		<key>runreport_button_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>title_label_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>8F8F8F</string>
		</dict>
		<key>noresult_label_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>999999</string>
		</dict>
	</dict>
	<key>SaveReport</key>
	<dict>
		<key>savereport_button_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>428EC0</string>
		</dict>
		<key>savereport_button_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
	</dict>
	<key>AboutApp</key>
	<dict>
		<key>app_name_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>000000</string>
		</dict>
		<key>app_about_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>343841</string>
		</dict>
		<key>buttons_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>428EC0</string>
		</dict>
		<key>buttons_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
	</dict>
	<key>Common</key>
	<dict>
		<key>views_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>E5E9EB</string>
		</dict>
		<key>bars_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>343841</string>
		</dict>
		<key>bar_items_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>popups_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>26282D</string>
		</dict>
		<key>popups_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FFFFFF</string>
		</dict>
		<key>table_view_cell_title_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>3D3D3D</string>
		</dict>
		<key>table_view_cell_details_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>B0B0B0</string>
		</dict>
		<key>table_view_cell_error_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>FF0000</string>
		</dict>
		<key>textfield_background_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>F1F3F5</string>
		</dict>
		<key>textfield_editable_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>1D1D1D</string>
		</dict>
		<key>textfield_uneditable_text_color</key>
		<dict>
			<key>AttributeType</key>
			<string>Color</string>
			<key>AttributeValue</key>
			<string>A6A6A6</string>
		</dict>
	</dict>
</dict>
</plist>
